.header{
    /* height: px; */
    /* background-color: aqua; */
    margin-bottom: 4%;
}

img{
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
  
}